---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About theproject">
  <h1>About the project</h1>
  
  <p>The SpaceX launches project is a DEMO for me to learn to use Astro</p>
</Layout>